# Zopa Technical Test

There is a need for a rate calculation system allowing prospective borrowers to
obtain a quote from our pool of lenders for 36 month loans. This system will 
take the form of a command-line application.

You will be provided with a file containing a list of all the offers being made
by the lenders within the system in CSV format, see the example market.csv file
provided alongside this specification.

You should strive to provide as low a rate to the borrower as is possible to
ensure that Zopa's quotes are as competitive as they can be against our
competitors'. You should also provide the borrower with the details of the
monthly repayment amount and the total repayment amount.

Repayment amounts should be displayed to 2 decimal places and the rate of the 
loan should be displayed to one decimal place.

Borrowers should be able to request a loan of any £100 increment between £1000
and £15000 inclusive. If the market does not have sufficient offers from
lenders to satisfy the loan then the system should inform the borrower that it
is not possible to provide a quote at that time.

Funcion 2: fill the bucket: simulando que obtienes nuevos inversores.



The application should take arguments in the form:

    cmd> [application] [market_file] [loan_amount]

Example:

    cmd> quote.exe market.csv 1500

The application should produce output in the form:

    cmd> [application] [market_file] [loan_amount]
    Requested amount: £XXXX
    Rate: X.X%
    Monthly repayment: £XXXX.XX
    Total repayment: £XXXX.XX

Example:

	cmd> quote.exe market.csv 1000
	Requested amount: £1000
	Rate: 7.0%
	Monthly repayment: £30.78
	Total repayment: £1108.10

## Remarks
 
 * We do not mind what language you chose for your implementation
 * The monthly and total repayment should use monthly compounding interest
 * We will review your code and run it against some other test cases to see how
   it handles them
 * If you have any questions then don't hesitate to contact us

import pandas as pd
import sys
sys.path.append('..')
#lenders = pd.read_csv(filepath_or_buffer='/Users/Javi/repos/Projects/02. Zopa/Data/MarketDataforTechnicalExercise.csv')
lenders = pd.read_csv(filepath_or_buffer='../Data/MarketDataforTechnicalExercise.csv')
lenders.sort_values(by='exp_rate', inplace=True)
lenders['interest'] = lenders['exp_rate'] * lenders['money_lent']
lenders

In [18]:
def loan_request(arg):
    import pandas as pd
    import sys
    global lenders
    
    lenders = pd.read_csv(filepath_or_buffer='../Data/MarketDataforTechnicalExercise.csv')
    lenders.sort_values(by='exp_rate', inplace=True)
    lenders['interest'] = lenders['exp_rate'] * lenders['money_lent']
    
    #answer = input('Loan request £')
    #answer = int(answer)
    
    money_requested = arg
    money_lent_total = 0
    lenders_count = 0
    interest = 0
    
    if int(arg) not in list(range(1000,15001,100)):
        print('Please choose of any £100 increment between £1000 and £15000 inclusive')
    elif int(arg) > lenders['money_lent'].sum():
        print('Sorry there is not enough money right now, try again later!')
    else:    
        for i, money in enumerate(lenders['money_lent']):
            money_lent_total += money
            lenders_count += 1
            
            if money_lent_total < money_requested:
                interest += lenders.iloc[i, 3]
    
            if money_lent_total == money_requested:
                lenders_count += 1
                interest += lenders.iloc[i, 3]
                lenders.iloc[i,2] = (money_lent_total - money_requested)
                break
                
            if money_lent_total > money_requested:
                interest += (money_lent_total - money - money_requested) * lenders.iloc[i, 1] *-1
                lenders.iloc[i,2] = (money_lent_total - money_requested)
                break
                
        interest_rate = interest / money_requested *100
        repayment_total = money_requested + interest
        repayment_monthly = repayment_total/36
        
        #print('Number of Lenders:',lenders_count)
        print('Interest Amount: £ '+ str(interest.round(2)) +
              '\nInterest Rate: '+ str(interest_rate.round(1))+'%'+
              '\n36 Monthly Repayment: £'+ str(repayment_monthly.round(2)) +
              '\nTotal repayment: £'+ str(repayment_total.round(2)))
        
        lenders = lenders.iloc[(lenders_count-1): , :]
        lenders.sort_values(by='exp_rate', inplace=True, ignore_index = True)
        lenders.to_csv('../Data/MarketDataforTechnicalExercise.csv', index = False)

In [5]:
def test(x=0):
    print('I am printing')
    r = 'I am returning ' + str(x)
    return r

In [6]:
test(1)

I am printing

'I am returning 1'

In [21]:
loan_request(1090)

Please choose of any £100 increment between £1000 and £15000 inclusive

In [22]:
def fill_the_bucket_2(n_times=1):
    import pandas as pd
    import sys

    global lenders
    
    filler = {
        'lender_name': ['Louis', 'Maximillian', 'Peter', 'Rose', 'Margarette', 'Alfred', 'Hunter', 'Logan'],
        'exp_rate': [0.069, 0.072, 0.088, 0.067, 0.074, 0.075, 0.063, 0.079],
        'money_lent': [100, 200, 500, 800, 700, 100, 900, 300],
        'interest': [1, 1, 1, 1, 1, 1, 1, 1]
    }
    filler = pd.DataFrame(filler)
    
    for i in list(range(n_times)):
        lenders = pd.concat([lenders, filler], axis=0)
        
        
    lenders.sort_values(by='exp_rate', inplace=True, ignore_index = True)

    lenders.to_csv('../Data/MarketDataforTechnicalExercise.csv', index = False)

In [23]:
fill_the_bucket_2(11)

In [32]:
print('Lenders Before')
lenders.head(10)

Lenders Before

  lender_name  exp_rate  money_lent  interest
0      Hunter     0.063         900      56.7
1      Hunter     0.063         900      56.7
2      Hunter     0.063         900      56.7
3      Hunter     0.063         900      56.7
4        Rose     0.067         800      53.6
5        Rose     0.067         800      53.6
6        Rose     0.067         800      53.6
7        Rose     0.067         800      53.6
8       Louis     0.069         100       6.9
9       Louis     0.069         100       6.9

In [33]:
lenders.columns

Index(['lender_name', 'exp_rate', 'money_lent', 'interest'], dtype='object')

In [24]:
lenders['money_lent'].sum()

39720

answer = input('Loan request £')
answer = int(answer)
if int(answer) not in list(range(1000,15001,100)):
    print('Please choose of any £100 increment between £1000 and £15000 inclusive')
elif int(answer) > lenders['money_lent'].sum():
    print('Sorry there is not enough money right now, try again later!')
else:
    function(answer)

fill_the_bucket_2()

In [36]:
print('Lenders After')
lenders.head(10)

Lenders After

  lender_name  exp_rate  money_lent  interest
0  Margarette     0.074         100      51.8
1  Margarette     0.074         700      51.8
2      Alfred     0.075         100       7.5
3      Alfred     0.075         100       7.5
4      Alfred     0.075         100       7.5
5      Alfred     0.075         100       7.5
6       Logan     0.079         300      23.7
7       Logan     0.079         300      23.7
8       Logan     0.079         300      23.7
9       Logan     0.079         300      23.7

In [37]:
lenders.columns

Index(['lender_name', 'exp_rate', 'money_lent', 'interest'], dtype='object')

In [38]:
lenders['money_lent'].sum()

12320

def fill_the_bucket():
    import pandas as pd
    lenders = pd.read_csv(filepath_or_buffer='/Users/Javi/repos/Projects/02. Zopa/Data/MarketDataforTechnicalExercise.csv')

    filler = {
        'lender_name': ['Louis', 'Maximillian', 'Peter', 'Rose', 'Margarette', 'Alfred', 'Hunter', 'Logan'],
        'exp_rate': [0.069, 0.072, 0.088, 0.67, 0.074, 0.075, 0.069, 0.069],
        'money_lent': [100, 200, 500, 1200, 700, 100, 200, 300]
    }
    filler = pd.DataFrame(filler)
    filler.to_csv('/Users/Javi/repos/Projects/02. Zopa/Data/MarketDataforTechnicalExercise.csv', mode='a', ignore_index=True, header=False)
    print('Añadidas')
    lenders.sort_values(by='exp_rate', inplace=True)
    lenders['interest'] = lenders['exp_rate'] * lenders['money_lent']
    print(lenders)


    
'''
# read existing data
df_old = pd.read_csv('C:/old.csv')

# Assign new data to a list.
# Note that the new data is written up as
# a list in the first element of a another list.
# Hence the double brackets.
# This way, the data is added as a row.
# If you use single brackets, pandas interprets
# the data as a column when added to a dataframe.
newData = [[5,6]]

# get column names of your existing data
colNames = df_old.columns

# make dataframe of new data that can be
# easily appended to your old data
df_new = pd.DataFrame(data=newData, columns=colNames)

# concatenate old and new
df_complete = pd.concat([df_old, df_new], axis = 0)

# write your complete dataset to a new csv.
df_complete.to_csv('data_new.csv', index=False)
'''

filler = {
        'lender_name': ['Louis', 'Maximillian', 'Peter', 'Rose', 'Margarette', 'Alfred', 'Hunter', 'Logan'],
        'exp_rate': [0.069, 0.072, 0.088, 0.127, 0.074, 0.075, 0.069, 0.069],
        'money_lent': [100, 200, 500, 1200, 700, 100, 200, 300]
    }
filler = pd.DataFrame(filler)
filler

fill_the_bucket_2()

# Apuntes

#delete
lenders.drop([0,1], inplace=True)
lenders.head()

for lender in list(range((lenders_count))):
    print(lender)
    lenders.drop([0,1], axis=0, inplace=True)

lenders.head()

#update s.update(pd.Series(['d', 'e'], index=[0, 2])) df.ix['x','C']
lenders.iloc[0,2] = 1

#update
lenders['money_lent'][0,1], = money_lent_total - ans (inplace=True)

lenders.head()

def lender_choosing(ans):
    money_lent_total = 0
    lenders_count = 0
    interest = 0
    for money in lenders['money_lent']:
        money_lent_total += money
        lenders_count += 1
        interest += (money * lenders['exp_rate']) #hay que especificar el row?
        if money_lent_total < ans:
            lenders.drop([0,1], inplace=True)
        elif money_lent_total >= ans:
        lenders['money_lent'][0,1], = money_lent_total - ans (inplace=True)
            break
        else:
            pass
            
            



https://stackoverflow.com/questions/40498956/python-pandas-new-row-attached-to-last-one-in-csv-when-using-to-csv-in-append-mo

# imports
import pandas as pd

# read existing data
df_old = pd.read_csv('C:/old.csv')

# Assign new data to a list.
# Note that the new data is written up as
# a list in the first element of a another list.
# Hence the double brackets.
# This way, the data is added as a row.
# If you use single brackets, pandas interprets
# the data as a column when added to a dataframe.
newData = [[5,6]]

# get column names of your existing data
colNames = df_old.columns

# make dataframe of new data that can be
# easily appended to your old data
df_new = pd.DataFrame(data=newData, columns=colNames)

# concatenate old and new
df_complete = pd.concat([df_old, df_new], axis = 0)

# write your complete dataset to a new csv.
df_complete.to_csv('data_new.csv', index=False)

error_bad_lines=False


def fill_the_bucket_2(n_times=1):
    import pandas as pd
    
    global lenders
    
    filler = {
        'lender_name': ['Louis', 'Maximillian', 'Peter', 'Rose', 'Margarette', 'Alfred', 'Hunter', 'Logan'],
        'exp_rate': [0.069, 0.072, 0.088, 0.067, 0.074, 0.075, 0.063, 0.079],
        'money_lent': [100, 200, 500, 800, 700, 100, 900, 300],
        'interest': [1, 1, 1, 1, 1, 1, 1, 1]
    }
    filler = pd.DataFrame(filler)
    
    lenders = pd.concat([lenders, filler], axis=0)
    lenders.sort_values(by='exp_rate', inplace=True, ignore_index = True)

    lenders.to_csv('/Users/Javi/repos/Projects/02. Zopa/Data/MarketDataforTechnicalExercise.csv', index = False)